[Unit]
Description=Upload listener (native socket activation)

[Socket]
ListenStream=4902
ActivationMode=native
Service=upload.service

[Install]
WantedBy=sockets.target
