[Unit]
Description=Webcam helper (PyInstaller bundle)
Requires=webcam.socket
After=kasm-setup.service
ConditionEnvironment=KASM_VNC=1
ConditionPathExists=/dev/video0

[Service]
Type=simple
User=${KASM_OS_USER:-kasm-user}
Group=${KASM_OS_GROUP:-kasm-user}
WorkingDirectory=${KASM_OS_HOME:-/home/kasm-user}
ExecStart=/dockerstartup/webcam/kasm_webcam_server --port 14905 --ssl --cert ${KASM_OS_HOME:-/home/kasm-user}/.vnc/self.pem --certkey ${KASM_OS_HOME:-/home/kasm-user}/.vnc/self.pem
Restart=on-failure
RestartSec=2s
StartLimitBurst=3
StartLimitIntervalSec=60s
